.offer__btn {
  background: #4742ff;
  color: #fff;
  display: flex;
  margin: 0 auto;
  width: fit-content;
  padding: 10px 50px;
  text-decoration: none;
  font-size: 24px;
  justify-content: center;
  border-radius: 5px;
  transition: all 0.6s ease;
}
.offer__btn:hover,
.offer__btn:focus {
  background: #fff;
  color: #4742ff;
  outline: 1px;
  transition: all 0.6s ease;
}
.c-social-bar--horizontal {
  position: fixed;
  bottom: 0;
  left: 0;
}
.c-media {
  max-width: 672px !important;
}
@media screen and (max-width: 620px) {
  .o-paper__content {
    max-width: 100% !important;
  }
}
@media screen and (max-width: 767px) {
  header {
    margin: 20px !important;
  }
  .o-paper__content address {
    margin: 20px !important;
  }
}
@media screen and (max-width: 991px) {
  .header-div {
    display: flex;
    flex-direction: column-reverse;
  }
  .o-lt-show__aside {
    display: none;
  }
  .o-paper__aside {
    display: none;
  }
  .c-header.desktop {
    display: none;
  }
  .c-header-mini {
    display: none;
  }
  body {
    overflow-x: hidden;
  }
  .news-footer {
    margin: 20px !important;
  }
  footer.c-footer {
    display: none;
  }
}
@media screen and (min-width: 992px) {
  .c-header-mobile {
    display: none;
  }
  .c-social-bar--horizontal {
    display: none;
  }
  footer.c-footer-mobile {
    display: none;
  }
  .c-footer__top {
    flex-direction: unset !important;
  }
}